[mysqld]
default-character-set=euckr
character-set-server=euckr
collation-server = euckr_korean_ci

max_connections = 1000

[mysqldump]
default-character-set=euckr

[mysql]
default-character-set=euckr

[client]
default-character-set=euckr
